.outer-box {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  width: 50%;
}

.motto {
  margin: auto;
  width: 580px;
}

h1 {
  font-weight: bold;
  font-size: 60px;
  color: #1877f2 !important;
}

h2 {
  font-weight: normal;
  font-size: 30px;
  line-height: 32px;
  width: 500px;
}
